<div class="container-fluid">
    <div class="row justify-content-center">
        <form class="col-sm-12 col-md-6">
            <div class="mb-3">
                <label for="inputName" class="form-label">Nombre completo</label>
                <input type="text" class="form-control" id="inputName" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="inputEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail">
            </div>
            <div class="mb-3">
                <label for="inputCurso" class="form-label">Curso</label>
                <input type="text" class="form-control" id="inputCurso">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>